<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-dark SB-nav-primary justify-content-between">
  <div class="SB-logo col-">
      <a #isHeader class="navbar-brand" style="width: 70%;">
        <img class="img-fluid" src="../../../../assets/images/ThinkBridgeLogo.png" />
      </a>
  </div>
  <button class="navbar-toggler col-" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-end col-" id="navbarSupportedContent">
      <ul class="navbar-nav header-items">
          <li class="nav-item col-md-3">
              <span class="nav-link" href="#">Dashboard</span>
          </li>
          <li class="nav-item col-md-3">
            <span class="nav-link" href="#">Shop</span>
        </li>
        <li class="nav-item col-md-3">
          <span class="nav-link" href="#">Contact Us</span>
      </li>
      </ul>
  </div>
  
</nav>
</div>

<div class="horiz-line"></div>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
